{
  "name": "ghrNEW",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "js/sketch.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/kraken.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "scss",
      "js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "scss/kraken.scss",
      "imports": [
        "scss/lib/_config.scss",
        "scss/lib/_mixins.scss",
        "scss/lib/_reset.scss",
        "scss/lib/_grid.scss",
        "scss/lib/_typography.scss",
        "scss/lib/_buttons.scss",
        "scss/lib/_forms.scss",
        "scss/lib/_icons.scss",
        "scss/lib/_spacing.scss",
        "scss/lib/_print.scss",
        "scss/lib/addons/_hero.scss",
        "scss/lib/_ghr.scss",
        "scss/lib/_shame.scss"
      ]
    },
    {
      "path": "scss/lib/addons/_prism-config.scss",
      "imports": [
        "scss/lib/addons/_prism.scss"
      ]
    },
    {
      "path": "addons/css-components/sassmatic/sass/style.scss",
      "imports": [
        "addons/css-components/sassmatic/sass/mixins.scss",
        "addons/css-components/sassmatic/sass/sassmatic.scss"
      ]
    },
    {
      "path": "addons/css-components/social-sharing/scss/social.scss",
      "imports": [
        "addons/css-components/social-sharing/scss/_config.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/public_html/georgehenryrowe.co.uk",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "70.33.246.210",
      "port": 21,
      "user": "yanki521",
      "password": "Fish56mars"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": ".gitattributes",
        "ctime": "2018-01-28T16:58:21.691Z",
        "mtime": "2018-01-28T16:58:21.691Z",
        "size": 66
      },
      {
        "file": ".gitignore",
        "ctime": "2018-01-28T15:27:21.347Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 9
      },
      {
        "file": "addons/css-components/hero/.gitignore",
        "ctime": "2018-01-28T15:27:21.346Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 9
      },
      {
        "file": "addons/css-components/hero/index.html",
        "ctime": "2018-01-28T15:27:21.346Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 2440
      },
      {
        "file": "addons/css-components/hero/README.html",
        "ctime": "2018-01-28T15:27:21.346Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 1465
      },
      {
        "file": "addons/css-components/hero/README.md",
        "ctime": "2018-01-28T15:27:21.346Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 502
      },
      {
        "file": "addons/css-components/sassmatic/.gitignore",
        "ctime": "2018-01-28T15:27:21.346Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 22
      },
      {
        "file": "addons/css-components/sassmatic/.htaccess",
        "ctime": "2018-01-28T15:27:21.346Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 20209
      },
      {
        "file": "addons/css-components/sassmatic/favicon.ico",
        "ctime": "2018-01-28T15:27:21.345Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 6277
      },
      {
        "file": "addons/css-components/sassmatic/humans.txt",
        "ctime": "2018-01-28T15:27:21.345Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 272
      },
      {
        "file": "addons/css-components/sassmatic/index.html",
        "ctime": "2018-01-28T15:27:21.345Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 4225
      },
      {
        "file": "addons/css-components/sassmatic/readme.md",
        "ctime": "2018-01-28T15:27:21.346Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 147
      },
      {
        "file": "addons/css-components/sassmatic/robots.txt",
        "ctime": "2018-01-28T15:27:21.346Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 22
      },
      {
        "file": "addons/css-components/snapshot/.gitignore",
        "ctime": "2018-01-28T15:27:21.345Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 9
      },
      {
        "file": "addons/css-components/snapshot/emu.jpg",
        "ctime": "2018-01-28T15:27:21.345Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 8608
      },
      {
        "file": "addons/css-components/snapshot/index.html",
        "ctime": "2018-01-28T15:27:21.344Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 887
      },
      {
        "file": "addons/css-components/snapshot/README.md",
        "ctime": "2018-01-28T15:27:21.345Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 532
      },
      {
        "file": "addons/css-components/social-sharing/.gitignore",
        "ctime": "2018-01-28T15:27:21.344Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 9
      },
      {
        "file": "addons/css-components/social-sharing/index.html",
        "ctime": "2018-01-28T15:27:21.343Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 1574
      },
      {
        "file": "addons/css-components/social-sharing/README.md",
        "ctime": "2018-01-28T15:27:21.344Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 726
      },
      {
        "file": "addons/css-components/spinners/.gitignore",
        "ctime": "2018-01-28T15:27:21.347Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 9
      },
      {
        "file": "addons/css-components/spinners/index.html",
        "ctime": "2018-01-28T15:27:21.347Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 674
      },
      {
        "file": "addons/css-components/spinners/README.md",
        "ctime": "2018-01-28T15:27:21.347Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 413
      },
      {
        "file": "addons/css-components/spinners/spin.png",
        "ctime": "2018-01-28T15:27:21.347Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 5765
      },
      {
        "file": "addons/css-components/tables/.gitignore",
        "ctime": "2018-01-28T15:27:21.344Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 9
      },
      {
        "file": "addons/css-components/tables/index.html",
        "ctime": "2018-01-28T15:27:21.344Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 3832
      },
      {
        "file": "addons/css-components/tables/README.md",
        "ctime": "2018-01-28T15:27:21.344Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 545
      },
      {
        "file": "addons/css-components/wizard-grid/CHANGELOG.md",
        "ctime": "2018-01-28T15:27:21.345Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 1293
      },
      {
        "file": "addons/css-components/wizard-grid/LICENSE",
        "ctime": "2018-01-28T15:27:21.345Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 546
      },
      {
        "file": "addons/css-components/wizard-grid/README.md",
        "ctime": "2018-01-28T15:27:21.345Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 7979
      },
      {
        "file": "addons/css-components/hero/css/hero.css",
        "ctime": "2018-01-28T15:27:21.346Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 2611
      },
      {
        "file": "addons/css-components/sassmatic/css/normalize.css",
        "ctime": "2018-01-28T15:27:21.345Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 1849
      },
      {
        "file": "addons/css-components/sassmatic/css/style.css",
        "ctime": "2018-01-28T15:27:21.345Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 23887
      },
      {
        "file": "addons/css-components/sassmatic/js/main-ck.js",
        "ctime": "2018-01-28T15:27:21.345Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 1049
      },
      {
        "file": "addons/css-components/sassmatic/js/main.js",
        "ctime": "2018-01-28T15:27:21.345Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 1392
      },
      {
        "file": "addons/css-components/sassmatic/js/prefixfree.min.js",
        "ctime": "2018-01-28T15:27:21.345Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 6133
      },
      {
        "file": "addons/css-components/snapshot/css/snapshot.css",
        "ctime": "2018-01-28T15:27:21.344Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 568
      },
      {
        "file": "addons/css-components/social-sharing/css/social.css",
        "ctime": "2018-01-28T15:27:21.343Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 1503
      },
      {
        "file": "addons/css-components/spinners/css/spinners.css",
        "ctime": "2018-01-28T15:27:21.347Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 1005
      },
      {
        "file": "addons/css-components/tables/css/tables.css",
        "ctime": "2018-01-28T15:27:21.344Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 2867
      },
      {
        "file": "addons/css-components/sassmatic/js/vendor/jquery-1.9.0.min.js",
        "ctime": "2018-01-28T15:27:21.346Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 93068
      },
      {
        "file": "css/kraken.css",
        "ctime": "2018-01-30T22:13:25.421Z",
        "mtime": "2018-01-30T22:13:25.421Z",
        "size": 15654
      },
      {
        "file": "css/lib/_centerer.css",
        "ctime": "2018-01-28T16:05:01.134Z",
        "mtime": "2018-01-28T16:05:01.134Z",
        "size": 213
      },
      {
        "file": "css/lib/_shame.css",
        "ctime": "2018-01-29T22:00:29.677Z",
        "mtime": "2018-01-29T22:00:29.677Z",
        "size": 43
      },
      {
        "file": "favicon.ico",
        "ctime": "2018-01-30T22:24:05.373Z",
        "mtime": "2018-01-30T22:20:45.724Z",
        "size": 19595
      },
      {
        "file": "favicon.png",
        "ctime": "2018-01-30T22:20:45.964Z",
        "mtime": "2018-01-30T22:20:45.724Z",
        "size": 19595
      },
      {
        "file": "fonts/README.md",
        "ctime": "2018-01-28T15:27:21.347Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 98
      },
      {
        "file": "img/114.png",
        "ctime": "2018-02-10T13:16:50.429Z",
        "mtime": "2018-01-30T22:23:35.723Z",
        "size": 27038
      },
      {
        "file": "img/144.png",
        "ctime": "2018-02-10T13:16:53.725Z",
        "mtime": "2018-01-30T22:23:35.680Z",
        "size": 39380
      },
      {
        "file": "img/57.png",
        "ctime": "2018-02-10T13:16:43.198Z",
        "mtime": "2018-01-30T22:23:35.659Z",
        "size": 9566
      },
      {
        "file": "img/72.png",
        "ctime": "2018-02-10T13:16:47.359Z",
        "mtime": "2018-01-30T22:23:35.702Z",
        "size": 13941
      },
      {
        "file": "img/facebookImg.png",
        "ctime": "2018-02-10T13:18:29.184Z",
        "mtime": "2018-02-09T23:43:10.039Z",
        "size": 201487
      },
      {
        "file": "img/README.md",
        "ctime": "2018-01-28T15:27:21.347Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 288
      },
      {
        "file": "index.html",
        "ctime": "2018-02-21T22:58:43.952Z",
        "mtime": "2018-02-21T22:58:43.952Z",
        "size": 9011
      },
      {
        "file": "js/kraken-dist.js",
        "ctime": "2018-01-30T20:29:25.053Z",
        "mtime": "2018-01-30T20:29:25.053Z",
        "size": 1115
      },
      {
        "file": "js/kraken.js",
        "ctime": "2018-01-28T16:55:19.521Z",
        "mtime": "2018-01-28T16:55:19.521Z",
        "size": 3031
      },
      {
        "file": "js/prism.js",
        "ctime": "2018-01-28T15:27:21.342Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 26884
      },
      {
        "file": "js/README.md",
        "ctime": "2018-01-28T15:27:21.342Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 136
      },
      {
        "file": "js/sketch-dist.js",
        "ctime": "2018-02-11T10:42:54.479Z",
        "mtime": "2018-02-11T10:42:54.479Z",
        "size": 1482
      },
      {
        "file": "js/sketch.js",
        "ctime": "2018-02-20T21:33:07.434Z",
        "mtime": "2018-02-20T21:33:07.000Z",
        "size": 3603
      },
      {
        "file": "js/min/kraken.min.js",
        "ctime": "2018-01-28T15:27:21.342Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 702
      },
      {
        "file": "js/min/prism.min.js",
        "ctime": "2018-01-28T15:27:21.342Z",
        "mtime": "2013-06-28T02:18:26.000Z",
        "size": 16650
      },
      {
        "file": "LICENSE",
        "ctime": "2018-01-28T16:58:21.690Z",
        "mtime": "2018-01-28T16:58:21.690Z",
        "size": 1067
      },
      {
        "file": "README.html",
        "ctime": "2018-01-28T16:58:21.921Z",
        "mtime": "2018-01-28T16:58:21.921Z",
        "size": 173
      },
      {
        "file": "README.md",
        "ctime": "2018-01-28T16:58:21.681Z",
        "mtime": "2018-01-28T16:58:21.681Z",
        "size": 9
      },
      {
        "file": ".vscode/settings.json",
        "ctime": "2018-02-10T17:54:02.944Z",
        "mtime": "2018-02-10T17:54:02.944Z",
        "size": 3
      },
      {
        "file": "img/rob/loading.gif",
        "ctime": "2018-02-11T10:44:40.958Z",
        "mtime": "2018-02-10T13:13:16.967Z",
        "size": 48634
      },
      {
        "file": "img/rob/rob2.png",
        "ctime": "2018-02-11T10:44:40.961Z",
        "mtime": "2018-02-10T13:13:16.624Z",
        "size": 105665
      },
      {
        "file": "img/rob/robBirthday.jpg",
        "ctime": "2018-02-11T10:44:40.963Z",
        "mtime": "2018-02-10T13:13:16.193Z",
        "size": 182227
      },
      {
        "file": "img/rob/robBW.png",
        "ctime": "2018-02-11T10:44:40.964Z",
        "mtime": "2018-02-10T13:13:16.076Z",
        "size": 33689
      },
      {
        "file": "img/rob/robColour.png",
        "ctime": "2018-02-11T10:44:40.966Z",
        "mtime": "2018-02-10T13:13:15.689Z",
        "size": 33689
      },
      {
        "file": "img/rob/robHead.png",
        "ctime": "2018-02-11T10:44:40.968Z",
        "mtime": "2018-02-10T13:13:15.305Z",
        "size": 95205
      },
      {
        "file": "img/rob/robJaw.png",
        "ctime": "2018-02-11T10:44:40.970Z",
        "mtime": "2018-02-10T13:13:14.755Z",
        "size": 18162
      },
      {
        "file": "img/rob/walkenBottom.png",
        "ctime": "2018-02-11T10:44:40.972Z",
        "mtime": "2018-02-10T13:13:13.868Z",
        "size": 25759
      },
      {
        "file": "img/rob/walkenTop.png",
        "ctime": "2018-02-11T10:44:40.974Z",
        "mtime": "2018-02-10T13:13:14.250Z",
        "size": 211239
      },
      {
        "file": "js/robbo.js",
        "ctime": "2018-02-11T10:48:15.050Z",
        "mtime": "2018-02-11T10:48:15.050Z",
        "size": 11934
      },
      {
        "file": "robbo.html",
        "ctime": "2018-02-11T10:53:51.703Z",
        "mtime": "2018-02-11T10:53:51.703Z",
        "size": 2225
      },
      {
        "file": "sounds/birthdayshort.mp3",
        "ctime": "2018-02-11T10:48:03.803Z",
        "mtime": "2018-02-10T13:12:17.086Z",
        "size": 94274
      },
      {
        "file": "sounds/funeral_01.mp3",
        "ctime": "2018-02-11T10:47:49.238Z",
        "mtime": "2018-02-10T13:12:14.442Z",
        "size": 1604783
      },
      {
        "file": "sounds/happyBirthday.mp3",
        "ctime": "2018-02-11T10:47:32.431Z",
        "mtime": "2018-02-10T13:12:09.534Z",
        "size": 179759
      },
      {
        "file": "sounds/happybirthday2.mp3",
        "ctime": "2018-02-11T10:47:32.434Z",
        "mtime": "2018-02-10T13:12:08.720Z",
        "size": 198417
      },
      {
        "file": "sounds/happybirthday3.mp3",
        "ctime": "2018-02-11T10:47:32.436Z",
        "mtime": "2018-02-10T13:12:10.822Z",
        "size": 2087534
      },
      {
        "file": "sounds/happybirthday4.mp3",
        "ctime": "2018-02-11T10:47:32.437Z",
        "mtime": "2018-02-10T13:12:07.937Z",
        "size": 360320
      },
      {
        "file": "sounds/happybirthday5.mp3",
        "ctime": "2018-02-11T10:47:32.440Z",
        "mtime": "2018-02-10T13:12:07.780Z",
        "size": 472493
      },
      {
        "file": "sounds/happybirthday7.mp3",
        "ctime": "2018-02-11T10:47:32.442Z",
        "mtime": "2018-02-10T13:12:07.013Z",
        "size": 87078
      },
      {
        "file": "sounds/happybirthday8.mp3",
        "ctime": "2018-02-11T10:47:32.444Z",
        "mtime": "2018-02-10T13:12:06.609Z",
        "size": 119294
      },
      {
        "file": "sounds/happybirthday9.mp3",
        "ctime": "2018-02-11T10:47:32.446Z",
        "mtime": "2018-02-10T13:12:06.509Z",
        "size": 98861
      },
      {
        "file": "sounds/robGov.mp3",
        "ctime": "2018-02-11T10:47:49.241Z",
        "mtime": "2018-02-10T13:12:03.273Z",
        "size": 84683
      },
      {
        "file": "js/p5.gibber.js",
        "ctime": "2018-02-20T21:41:34.882Z",
        "mtime": "2017-07-24T14:15:22.000Z",
        "size": 722973
      },
      {
        "file": "js/soundSketch.js",
        "ctime": "2018-02-21T23:00:37.324Z",
        "mtime": "2018-02-21T23:00:37.324Z",
        "size": 2243
      },
      {
        "file": "soundThing.html",
        "ctime": "2018-02-21T22:58:17.155Z",
        "mtime": "2018-02-21T22:58:17.155Z",
        "size": 3713
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}